# MongoDB Connection (Shared Datastore)
MONGODB_URI=mongodb+srv://<your_username>:<your_password>@<your_cluster>.mongodb.net/
DATABASE_NAME=peblo

# Qdrant Vector DB (For Ingestion & Deduplication)
QDRANT_URL=https://<your_cluster>.aws.cloud.qdrant.io:6333
QDRANT_API_KEY=<your_qdrant_api_key>

# LLM APIs (Comma separated for key rotation to avoid rate limits)
GROQ_API_KEYS=key1,key2,key3

# JWT Security (Used to issue and verify access tokens)
SECRET_KEY=your-super-secret-jwt-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440